<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all">
</head>
<body>
{%if has_permiss == 'false'%}
您暂无权限访问此页面
{%elif has_permiss == 'notlogin'%}
当前会话已结束，请重新登录
{%elif has_permiss == 'true'%}
{% block table %}{% endblock %}
{%endif%}
{% block js %}
<script src="/static/plugins/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;
    });
</script>
{% endblock %}
</body>
</html>