{% extends "base_table.html" %}
{% block title %}查看用户{% endblock %}
<!--{{has_permiss}}-->
{% block table %}
<div class="layui-btn-group demoTable">
    <!--<button class="layui-btn" data-type="isAll" id="lalala">添加用户</button>-->

    <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
    <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
    <button class="layui-btn" data-type="isAll">验证是否全选</button>
    <div style="float: right;">
        <button class="layui-btn" data-type="export" id="export">导出到Excel</button>

    </div>

</div>
<table id="tab" class="layui-table"
       lay-data="{ height:'full-40', url:'{%url 'user:getUserInfo'%}',  id:'userList'}"
       lay-filter="demo" style="text-align: center">
    <thead>
    <tr>
        <th lay-data="{checkbox:true, fixed: true}"></th>
        <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
        <th lay-data="{field:'userName', width:80}">用户名</th>
        <th lay-data="{field:'name', width:80}">姓名</th>
        <th lay-data="{field:'phone', width:80}">手机号</th>

        <th lay-data="{field:'status', width:85, sort: true}">状态</th>
        <th lay-data="{field:'groupID', width:120}">用户组</th>
        <th lay-data="{field:'permissions', width:250}">权限</th>
        <!--<th lay-data="{field:'experience', width:100, sort: true}">积分</th>-->

        <!--<th lay-data="{field:'classify', width:80}">职业</th>-->
        <!--<th lay-data="{field:'wealth', width:135, sort: true}">财富</th>-->
        <!--<th lay-data="{field:'score', width:80, sort: true, fixed: 'right'}">评分</th>-->
        <!--最后一列-->
        <th lay-data="{fixed: 'right', width:'300', align:'center', toolbar: '#barDemo'}"></th>
    </tr>
    </thead>
</table>
{% endblock %}
{% block js %}
<script type="text/html" id="barDemo">
    {% ifequal alterUserPassword True %}
    <a class="layui-btn layui-btn-mini" lay-event="change_passwd">更改密码</a>
    {% else %}
    <a class="layui-btn layui-btn-mini layui-btn-disabled">更改密码</a>
    {% endifequal %}

    {% ifequal alterUserPermiss True %}
    <a class="layui-btn  layui-btn-normal layui-btn-mini" lay-event="change_permiss">变更权限</a>
    {% else %}
    <a class="layui-btn  layui-btn-normal layui-btn-mini layui-btn-disabled">变更权限</a>
    {% endifequal %}
    <!--layui-btn-disabled-->
    {% ifequal delUser True %}
    <a class="layui-btn layui-btn-danger layui-btn-mini " lay-event="del">删除用户</a>
    {% else %}
    <a class="layui-btn layui-btn-danger layui-btn-mini layui-btn-disabled">删除用户</a>
    {% endifequal %}

</script>
<script src="/static/plugins/layui/layui.js" charset="utf-8"></script>
<script src="/static/build/js/jsonExportToCSV.js"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;

        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
//                    界面删除
//                    alert(data.id)
//                    服务器删除
                    $.ajax({
                        url: "/user/del_user/" + data.id,
                        type: "GET",
                        crossDomain: true,
                        success: function (data) {
                            if (data.status === "true") {
                                layer.msg('删除用户成功');
                                obj.del();
                            } else {
                                layer.msg("删除用户失败");
                            }
                        },
                        error: function () {
                            layer.msg("服务器错误");

                        }

                    });

                    layer.close(index);
                });
            } else if (obj.event === 'change_passwd') {

                layer.confirm('请输入新的密码：<input type="text" id="new_passwd"/>', function (index) {

                    data = obj.data;
//                     获取输入的新密码
                    var new_passwd = $("#new_passwd").val().trim();

//                    提交密码修改请求
                    $.ajax({
                        url: "/user/PassWordChange/" + data['id'],
                        type: "POST",
                        data: {"passWordOld": null, "passWordNew": new_passwd},
                        crossDomain: true,
                        dataType: 'json',
                        success: function (data) {
                            if (data.status === "true") {
                                alert('修改密码成功');

                            } else {
                                alert("修改密码失败");
                            }
                        },
                        error: function () {
                            alert("修改密码失败");

                        }

                    });

                    layer.close(index);
//                    layer.close(index);
                });


//                layer.alert('编辑行：<br>' + JSON.stringify(data))
            } else if (obj.event === 'change_permiss') {
//                更改权限事件
                data = obj.data;
//                请求后端获取权限接口
//                $.ajax({
//                    async: false,
//                    url: "/user/GetUserPermiss/",
//                    type: "GET",
//                    crossDomain: true,
//                    success: function (data) {
//                        console.log(data['permiss']);
//
//                    },
//                    error: function () {
//                        alert("请求权限失败");
//                    }
//                });
                layer.open({
                    title: '权限分配',
                    type: 2,
                    area: ['730px', '480px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/user/permissions/' + data['id']
                });
//              id为此元素标识，关闭时传入

            }


        });

        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                var checkStatus = table.checkStatus('userList')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            , getCheckLength: function () { //获取选中数目
                var checkStatus = table.checkStatus('userList')
                    , data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
            }
            , isAll: function () { //验证是否全选
                var checkStatus = table.checkStatus('userList');
                layer.msg(checkStatus.isAll ? '全选' : '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $.support.cors = true;

//        导出用户列表至csv
        $('#export').click(function () {
            $.ajax({
                url: "/user/getUserInfo/",
                type: "GET",
                success: function (data) {
                    alert("success")
                    JSonToCSV.setDataConver({
                        data: data.data,
                        fileName: 'users',
                        columns: {
                            title: ['ID', '用户名', '姓名', '手机号', '状态', '用户组', '权限'],
                            key: ['id', 'userName', 'name', 'phone', 'status', 'groupID', 'permissions'],
                            formatter: function (n, v) {
                                if (n === 'amont' && !isNaN(Number(v))) {
                                    v = v + '';
                                    v = v.split('.');
                                    v[0] = v[0].replace(/(\d)(?=(?:\d{3})+$)/g, '$1,');
                                    return v.join('.');
                                }
                                if (n === 'proportion') return v + '%';
                            }
                        }
                    });
                },
                error: function () {
                    alert("导出失败");

                }

            });


        })
    });

</script>
{% endblock %}