{% extends "base_table.html" %}
{% block title %}设备管理{% endblock %}
<!--{{has_permiss}}-->
{% block table %}
<table class="layui-table"
       lay-data="{height:'full-10', url:'{%url 'device:getDeviceData'%}', initSort: {field:'DevID', type:'asc'}}">
    <thead>
    <tr>
        <th lay-data="{field:'DevID', width:100,sort: true}">设备ID</th>

        <th lay-data="{field:'DevDataName', width:150}">设备名称</th>
        <!--<th lay-data="{field:'DevDataType', width:120, sort: true}">数据类型</th>-->
        <th lay-data="{field:'DevData', width:80}">数据值</th>
        <th lay-data="{field:'DevDataUnit', width:120}">数据单位</th>

    </tr>
    </thead>
</table>
{% endblock %}
<script src="/static/plugins/layui/layui.js" charset="utf-8"></script>

