{% extends "base_table.html" %}
{% block title %}设备管理{% endblock %}
<!--{{has_permiss}}-->

{% block table %}
<table class="layui-hide" id="demo"></table>
{% endblock %}
{% block js %}
<script src="/static/build/js/jquery-1.12.4.min.js"></script>
<script src="/static/plugins/layui/layui.js" charset="utf-8"></script>
<script src="/static/build/js/laytableplus.js"></script>
<script src="/static/plugins/layui/lay/modules/underscore.js"></script>

<script>


    layui.use(['table'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        var old_data = {{data | safe}}
        var EquipID = "{{EquipID}}";
        var readonly = "{{readonly}}";
        var changed_by_fields = ["DevID", "EquipID"];
        var tableoption = {
           initSort: {field: 'DevID', type: 'asc'},
            id: 'reload_id'
            , elem: '#demo'
            , cols: [[ //标题栏
//                {field: 'EquipID', title: '设备组号', width: 130, sort: true, align: 'center'},
                {field: 'DevID', title: '设备ID', width: 100, sort: true, align: 'center'}
                , {field: 'DevDataName', title: '设备名称', width: 150, align: 'center'}
                , {field: 'DevData', title: '数据值', width: 150, align: 'center'}
                , {field: 'DevDataUnit', title: '数据单位', width: 120, align: 'center'}
            ]]
            , data:{{data | safe}}
            ,even: true
        //,skin: 'line' //表格风格
        //,page: true //是否显示分页
        //,limits: [5, 7, 10]
        //,limit: 5 //每页默认显示的数量
    }
        var hytable = new HYtablelist(tableoption);
        hytable.romance();//渲染

        var change_data_array;
        var need_update_array;
        var now_data;
        var change;
        var data_change_flag;
        var result;
        var interval = setInterval(function () {
            $.get('/device/api_get_device_Data/'+EquipID+'/'+readonly+'/').done(function (ajaxdata) {
                now_data = deepCopy(ajaxdata.data);
                change_data_array = [];
                need_update_array = [];
                change = !_.isEqual(old_data, now_data);
                if (change) {
//                    如果数据发生变化
                    $.each(now_data, function (now_index, now_json) {
                        data_change_flag = true;
                        $.each(old_data, function (old_index, old_json) {
                            if (_.isEqual(old_json, now_json)) {
                                data_change_flag = false;
                            }
                        });
                        if (data_change_flag) {
//                                alert(now_json);
                            change_data_array.push(now_json)
                        }
                    });

                    if (!_.isEmpty(change_data_array)) {
                        result = getField(change_data_array, changed_by_fields);
//                        console.log(result);
                        need_update_array = hytable.getRowIndexByFiled(changed_by_fields, result);
//                        console.log(need_update_array);
//                        console.log(change_data_array);
                        $.each(need_update_array, function (index, update_index) {
                            setTimeout(function () {
                                hytable.updateRow(update_index, change_data_array[index])
                            }, 5)
                        });
                        old_data = deepCopy(ajaxdata.data);
                    }
                }
            });

        }, 2000);


//      获得用来获取tableRowIndex的fields
        function getField(change_data_array, fields) {
//        console.log(fields);
                var result = [];
                $.each(fields, function (field_index, now_field) {
                var field_change_array = [];
                $.each(change_data_array, function (data_index, change_data) {
//                    console.log(change_data[now_field]);
                    field_change_array.push(change_data[now_field]);
//                    console.log(field_change_array);

                });
                result.push(field_change_array);
//                console.log(result)
            });
            return result
        }

        var deepCopy = function (obj) {
            var newO = {};
            if (obj instanceof Array) {
                newO = [];
            }
            for (var key in obj) {
                var val = obj[key];
                newO[key] = typeof val === 'object' ? arguments.callee(val) : val;
            }
            return newO;
        }
    });


</script>
{% endblock %}
