body{font-size:12px;}

#page1_jImages2{
  left: 139px;
  top: 44px;
  height: 105px;
  width: 148px;
}

#page1_jImages11{
  left: 304px;
  top: 42px;
  height: 105px;
  width: 167px;
}

#page1_jImages5{
  left: 530px;
  top: 39px;
  height: 105px;
  width: 91px;
}

#page1_jImages6{
  left: 682px;
  top: 51px;
  height: 105px;
  width: 307px;
}

#page1_jImages1{
  left: 14px;
  top: 44px;
  height: 203px;
  width: 112px;
}

#page1_jImages12{
  left: 1048px;
  top: 46px;
  height: 105px;
  width: 105px;
}

#page1_jImages3{
  left: 14px;
  top: 266px;
  height: 105px;
  width: 112px;
}

#page1_jImages4{
  left: 139px;
  top: 271px;
  height: 105px;
  width: 148px;
}

#page1_jImages10{
  left: 334px;
  top: 273px;
  height: 105px;
  width: 167px;
}

#page1_jImages9{
  left: 534px;
  top: 271px;
  height: 105px;
  width: 91px;
}

#page1_jImages8{
  left: 682px;
  top: 271px;
  height: 105px;
  width: 307px;
}

#page1_jImages7{
  left: 837px;
  top: 271px;
  height: 105px;
  width: 105px;
}

