<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>开启/关闭报警模块</title>
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/build/css/un.css" media="all">

    <style>
        body {
            padding: 0px;
            font-size: 20px;
            background: #fff;
            width: 90%;
            margin: 0 auto;
            line-height: 10px;
            overflow: hidden;
        }

        p {
            margin-bottom: 10px;
        }

        input {
            border: 1px solid #999;
            padding: 5px 10px;
            margin: 0 10px 10px 0;
        }</style>

    <script language="javascript" type="text/javascript"
            src="/static/build/js/unknow.js" charset="gb2312"></script>
</head>
<body>
<form class="layui-form">
<div>

    <div>
        <div class="site-title">
            <fieldset style="text-align: center">
                <a name="checkbox">开启/关闭报警模块</a>
                <!--<legend><a name="checkbox">系统管理员</a></legend>-->

            </fieldset>
        </div>

        <div class="layui-form">
            <div>
                <label class="layui-form-label">语音报警</label>
                <input type="checkbox" name="voidAlert" lay-skin="switch" lay-text="ON|OFF">
            </div>
            <div style="clear: both"></div>
            <div>
                <label class="layui-form-label">界面报警</label>
                <input type="checkbox" name="interfaceAlert" lay-skin="switch" lay-text="ON|OFF">
            </div>

            <div style="clear: both"></div>
            <div>
                <label class="layui-form-label">短信报警</label>
                <input type="checkbox" name="messageAlert" lay-skin="switch" lay-text="ON|OFF">
            </div>

            <div style="clear: both"></div>
            <div>
                <label class="layui-form-label">邮件报警</label>
                <input type="checkbox" name="emailAlert" lay-skin="switch" lay-text="ON|OFF">
            </div>

            <div style="clear: both"></div>
            <div>
                <label class="layui-form-label">声光报警</label>
                <input type="checkbox" name="acousto-opticAlert" lay-skin="switch" lay-text="ON|OFF">
            </div>
        </div>


    </div>


</div>
<div style="clear: left"></div>

<div style="text-align: right;">


    <button class="layui-btn" lay-submit lay-filter="*">提交</button>
    <button class="layui-btn">取消</button>
    <!--<button class="layui-btn layui-btn-primary" id="new">在父层弹出一个层</button>-->
    <!--<button class="layui-btn layui-btn-primary" id="transmit">给父页面传值</button>-->
    <!--<button class="layui-btn layui-btn-primary" id="closeIframe">关闭iframe</button>-->
</div>
</form>
<script src="/static/build/js/jquery-1.12.4.min.js"></script>
<script src="/static/plugins/layui/layui.js"></script>

<script src="/static/build/js/laycode.js"></script>
<script>
    new Function($('.run').text())()
    //$('pre').show().laycode({height: 180});
</script>
<script>
    layui.use(['form'], function () {
        var form = layui.form;
        form.on('submit(*)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

</script>
<!--<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");-->
<!--document.write(unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30088308' type='text/javascript'%3E%3C/script%3E"));</script>-->
</body>
</html>
